* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(107, 100, 100);
}

img {
    width: 100%;
    object-fit: contain;
}

.img-div {
    width: 250px;
    height: auto;
    padding: 0;
    margin: 0;
}

div {
    display: block;
}

.value-div {
    padding: 10px;
}

p {
    font-size: 14px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p span:nth-child(1) {
    font-weight: 600;
    text-transform: capitalize;
    margin: 5px 0;
    display: inline-block;
}

/** NAVBAR BEGINNING **/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-flags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

select {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px;
    background-color: white;
    transition: all 0.3s ease-in;
    color: #000;
}

/** NAVBAR END **/

form {
    display: block;
    position: relative;

}

input {
    padding: 10px 30px;
    box-shadow: 1px 1px 2px;
    border-radius: 5px;
    border: none;
    max-width: 100%;
    width: 300%;
    transition: all 0.3s ease-in;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
}

.container {
    padding: 15px 40px;
}

p.dark-mode {
    cursor: pointer;
}

.flag-div {
    box-shadow: 1px 1px 5px;
    border-radius: 5px;
    margin: 15px;
    overflow: hidden;
    background-color: antiquewhite;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.value-div {
    padding: 10px;
}