@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    background-color: rgb(124, 132, 139);
}

p {
    font-size: 18px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
}

h3 {
    color: #fff;
}

.navbar{
    padding: 20px 0px 0px 20px;
}


img {
    width: 100%;
}

:focus{
    outline: none;
}


#countries{ 
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 2.2rem;
    width: 12em;
    
    
}

#main-container {
    margin: 0px 0px 350px 0px;
    font-size: 40px;
    height: 100vh;
    
}

#info-container{
    margin: 0px 0px 50px 50px; 
    padding: 20px 0px 0px 0px;

}


#flag-container {
    box-shadow: 2px 2px 5px;
    padding: 40px 40px 40px 40px;
    border-radius: 5px;
    margin: 0px 340px 0px 340px;
    overflow: hidden;
    background-color:antiquewhite;
    transition: all 0.3s ease-in;
    cursor: pointer;
}